$color-light-gray: rgb(95, 107, 105);
$color-light-gray-dark: rgb(44, 43, 43);
$color-gray-dark: rgb(59, 57, 57);
$color-gray-dark-light: rgb(87, 84, 84);
$color-orange: orange;
$color-light-orange: rgb(248, 185, 69);
$color-white: rgb(255,255,255);

$width-entire-screen: 100%;
$height-slider: 45vw;