.navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    background-color: $color-gray-dark;
    border-bottom: 3px solid $color-orange;
    transition: all .3s;

    button {
        color: $color-white;
        cursor: pointer;
        border: none;
        height: 40px;
        font-size: 1.2rem;
        background-color: $color-gray-dark;
        padding-right: 10px;

        &:hover { background-color: $color-gray-dark-light }
    }
}

//MediaQuery

@media (max-width: 300px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
}