$color-light-gray: rgb(95, 107, 105);
$color-light-gray-dark: rgb(44, 43, 43);
$color-light-orange: rgb(248, 185, 69);
$color-white: rgb(255,255,255);

.homepage {
    &__slider {
        background-color: $color-light-gray-dark;
        width: 100%;
        height: 35vw;
        margin-top: 5vh;
        overflow: hidden;
        z-index: 2;

        img {
            opacity: 0;
            position: relative;
            left: 10%;
            width: 80%;
            height: 35vw;
            animation: appear 1.5s;
            animation-fill-mode: forwards;
        }
    }
    
    &__container {
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: $color-light-gray;
        color: $color-white;

        h1 { 
            text-align: center;
            margin-left: 20vw;
            animation: moveIn 1s;
            animation-fill-mode: forwards;
            
            span{ color: $color-light-orange}
        }

        .btn {
            &__container {
                position: absolute;
                top: 21.5vw;
                z-index: 1;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                ion-icon { 
                    font-size: 4rem;
                    cursor: pointer;
                    color: $color-light-orange; 
                    transition: all .3s;
                    
                    &:hover { font-size: 4.5rem }
                    &:active { font-size: 4rem }
                }
            }
        }
    }
}

@keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes moveIn {
    0% {
        margin-left: -20vw;
        opacity: 0;
    }

    90% { opacity: 1 }

    100% {
        margin-left: 0;
    }
}